<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hard Fork It | {{ page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="leS8WryM4XNHqi3vrsJCg-f3ME3kGpe2wdqMoDlkwvE" />
      <link rel="apple-touch-icon" sizes="57x57" href="http://hardforkit.com/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="http://hardforkit.com//favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://hardforkit.com/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="http://hardforkit.com/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://hardforkit.com/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="http://hardforkit.com/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="http://hardforkit.com/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="http://hardforkit.com/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="http://hardforkit.com/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="http://hardforkit.com/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="http://hardforkit.com/favicons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="http://hardforkit.com/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="http://hardforkit.com/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="http://hardforkit.com/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ecf0f1">
	<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" type="text/css" href="http://essofluffy.github.io/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:700|Droid+Serif|Vollkorn:400,700|Open+Sans:700' rel='stylesheet' type='text/css'>
    </head>
    <body>

        {{ content }}

    </body>
  	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-72362705-1', 'auto');
      ga('send', 'pageview');
    
    </script>
</html>
