.banner .banner-image {
	background-image: url(../images/bike-race.jpeg);
	background-position: 0px -175px;
    background-size: 100%;
	background-repeat: no-repeat;
}

.contact-form-container {
	width: 100%;
}

.contact-form-container form .flex {
	justify-content: space-between;
}

.contact-form-container form .col {
	display: flex;
	flex-direction: column; 
}

.contact-form-container form .left {
	flex: 2;
} 

.contact-form-container form .right {
	flex: 5;
} 

.contact-form-container form .col input, .contact-form-container form .col textarea {
	margin: 10px 0;
	padding: 5px 10px;
	border: 1px solid #ccc;
	font-family: 'Avenir', sans-serif;
	font-size: 0.8em;
}

.contact-form-container form .col input:focus, .contact-form-container form .col textarea:focus {
	outline: none;
	border: 1px solid #444;
}

.contact-form-container form .col textarea {
	min-height: calc(100% - 81px);
}

.contact-form-container form button {
	width: 100%;
	box-shadow: none;
	border: 1px solid var(--abis-blue);
	color: var(--abis-blue);
	background: transparent;
	font-family: 'Avenir', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	padding: 12px;
	cursor: pointer;
}

.contact-form-container form button:hover {
	border: 1px solid var(--abis-blue);
	color: var(--abis-blue);
}

.contact-form-container form button:focus {
	outline: none;
}

.contact-form-container form button:active {
	background: var(--abis-blue);
	color: #fff;
}