main {
	text-align: center;
	margin-top: 40px;
}

.center-logo {
	background-image: url('../images/logo.png');
	height: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
	margin: 40px 0 10px 0;
	font-size: 1.8em;
}

h2 {
	margin: 0 0 30px 0;
	font-size: 1em;
	font-weight: 400;
}

a {
	font-weight: 600;
}