.reviews {
	margin-top: 40px;
	max-width: 1240px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.reviews p {
	padding: 0;
}

.chatter-box, .review-box {
	width: 22%;
	margin-bottom: 40px;
}

.chatter-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.review-box {
	display: flex;
	align-items: center;
	justify-content: center;
}