:root {
	--abis-blue: #60a1c6;
}

body {
	margin: 0;
	padding: 0;
	color: #444;
}

a {
	text-decoration: none;
	color: var(--abis-blue);	
	font-family: 'Avenir', sans-serif;
}

p {
	font-family: 'Avenir', sans-serif;
	font-size: 0.9em;
	line-height: 30px;
}

h1 {
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 4em;
}

h2, h3, h4, h5 {
	font-family: 'Avenir', sans-serif;
}

h2 {
	font-size: 1.3em;
    font-weight: 600
}

.flex {
	display: flex;
}

main {
	max-width: 1240px;
	margin: 0 auto;
	margin-bottom: 40px;
}

main p {
	padding:  0 20px;
}

nav {
	max-width: 1240px;
	margin: 10px auto;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

nav ul li {
	padding: 10px 30px 10px 0;
}

nav ul .active {
	border-bottom: 2px solid var(--abis-blue);
}

nav ul li a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.8em;
	font-family: 'Avenir', sans-serif;
	cursor: pointer;
}

.dropdown-container {
	position: relative;
	left: -10px;
}

.dropdown {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 0 10px 0 10px;
	position: absolute;
    z-index: 1;
    background: #fff;
    width: max-content;
}

.dropdown li {
	padding-right: 0;
	
}

.dropdown .first{
	border-top: none;
}

.solutions-drop, .clients-drop, .about-drop {
	display: none;
} 

#solutions-link:hover .solutions-drop, #clients-link:hover .clients-drop, #about-link:hover .about-drop {
	display: block;
} 

.banner {
	max-width: 1300px;
	margin: 0 auto;
}

.banner .logo-and-text {
	flex: 1;
	display: flex;
	justify-content: flex-end;
    margin-top: 40px;
}

.banner	.logo-and-text .flex {
	flex-direction: column;
    align-items: center;
}

.banner .logo-and-text .logo {
	background-image: url('../images/logo.png');
	width: 115px;
	height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner .logo-and-text p {
	font-weight: 500;
	color: var(--abis-blue);
	text-align: center;
	margin: 0;
}

.banner .banner-image {
	width: 85%;
	min-height: 325px;
	background: #444;
	clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
    filter: grayscale(100%);
}

.heading {
	margin: 60px 0 30px;
}

.heading h1{
	font-size: 4em;
	margin: 0;
	font-weight: 400;
    margin-bottom: 3px;
}

.heading-bottom {
	width: 125px;
	border-bottom: 15px solid var(--abis-blue);
}

.left, .right {
	flex: 1;
}

.left {
	margin-right: 10px;
}

.right {
	margin-left: 10px;
}

.by-the-numbers {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.number-and-description {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	width: 47%;
	align-items: center;
	justify-content: center;
}

.number-and-description h3 {
	font-size: 2.5em;
	margin: 0;
	color: var(--abis-blue);
}

.number-and-description p {
	line-height: normal;
    margin: 0;
}