.banner .banner-image {
	background-image: url(../images/hot-air-balloons.jpg);
	background-position: 0px -345px; /* Or it could be 100% x -(px's down) */
    background-size: 100%; /* The zoom */
    background-repeat: no-repeat;
}