html, body, h1 {
	margin: 0;
	padding: 0; 
}

body {
	font-family: 'Vollkorn', serif;
  	color: #252525;
}

section, article {
  	margin: 0 auto;
  	max-width: 600px;
  	margin-top: 50px;
}

h1 {
	text-transform: uppercase;
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.9em;
	color: #252525;
	margin: 18px 0;
}

h1 a {
	text-transform: uppercase;
	font-family: 'Droid Sans', sans-serif;
	font-size: 1em;
	color: #252525;
  	text-decoration: none;
}

h2 {
	text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
    font-size: 2em;
    color: #252525;
    margin-bottom: 10px;
}

h3 {
  	text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.5em;
    color: #252525;
    margin-bottom: 10px;
}

strong {
  	font-family: 'Droid Sans', sans-serif;
}

blockquote {
  	color: rgba(149, 165, 166, 0.66);
    border-left: #eee 3px solid;
    padding-left: 10px;
    margin: 15px 25px;
}

ol, ul {
  	font-size: 1.25em;
  	line-height: 175%;
}

p {
	margin-top: 50px;
	font-size: 1.25em;
	line-height: 175%;
}

p a {
  	color: #3498db;
  	text-decoration: none;
}

pre {
	background: #eee;
    padding: 10px;
  	border-radius: 5px;
   	white-space: pre-wrap;
 	white-space: -moz-pre-wrap;
 	white-space: -pre-wrap;
 	white-space: -o-pre-wrap;
 	word-wrap: break-word; 
}

code {
	font-size: 1.25em;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.date-and-title {
  	margin-top: 25px;
}

.date {
	color: #7f8c8d;
}

.date p {
  	margin: 15px 0;
}

.title {
    border-bottom: 1px solid #bdc3c7;
}

.center a img {
    margin-top: 15px;
}

.articles {
	margin-bottom: 50px;
}

footer  img {
	margin: 40px 0 40px 0;
}

/*--------Header--------*/

header {
  background: url('http://essofluffy.github.io/images/header-image.jpg') no-repeat center fixed; 
  	-webkit-background-size: 100%;
  	-moz-background-size: 100%;
  	-o-background-size: 100%;
  	background-size: cover;
}

.header-wrapper {
	width: 100%;
	height: 100vh;
}

.header-wrapper h1 {
  	text-transform: none;
	padding-top: 35vh;
	font-family: 'Vollkorn', serif;
	font-weight: normal;
	font-size: 4em;
	color: #ecf0f1
}

.header-wrapper h2 {
	font-family: 'Vollkorn', serif;
    font-weight: normal;
    color: #ecf0f1;
  	font-size: 1.5em;
  	text-transform: none;
}

/*-----------------------
		Mobile
-----------------------*/

@media only screen and (max-width : 675px) {
	body {
		margin: 0 auto;
	}
          
    section, article {
        width: 86%;
    }
}

@media (max-width: 1025px) {
  header {
	background: url('../images/header-image.jpg') no-repeat center; 
	-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  			-o-background-size: 100%;
  				background-size: cover;
	}
}
